@import "minima";


body {
  padding: 0;
  margin: 0;
  background: #000080;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #000080 0%, #191970 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #000080 0%, #191970 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #000080 0%, #191970 100%);
}

/** Header styles **/

/*.header {
  /*float: left;*/
 /* background-size: cover;
  text-align: center;
  background-image: url("https://images6.alphacoders.com/312/thumb-1920-312428.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
  /*max-width: 900px;
  border: 3px solid #C0C0C0;
  overflow: auto;
}*/
/*
Removes white gap between slides - chagnge to base color of slide images
*/

.container
{
  display: block;
  /*background-image: url(../assets/img/universe.jpg);*/
  /*width: 100%;(/)
  z-index: -1; */

}
.viewport-1
{
  /*
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/img/planet.jpg);
  */
  height: 100vh;
  /*border: 3px solid #C0C0C0;*/
  position: relative;
}

 img.bg {
  /*Set rules to fill background*/
  min-width: 1024px;
  height: 100%;
  /* Set up proportionate scaling*/
  width: 100%;
  margin-top: 60px;
  margin-bottom: 1000px;
  /*margin-bottom:200px;*/
  /*Set up positioning*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px){ /* Specific to this particular image*/
  img.bg {
    left: 50%;
    margin-left: -512px;

    /*max-height: 75%;*/
  }
}
/*@media screen and (max-height: 800px) { /* Specific to this particular image*/
  /*img.bg {
    left: 50%;
    margin-left: -512px;

    /*max-height: 75%;*/
  }
}


.inner-div
{
  padding-top: 50px;
  margin: 0 auto;
  max-width: 390px;
}
.notes {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #191970;
  overflow: auto;
  width: 75%;
  max-width: 680px;
  border-radius: 4px;
  align-self: center;
  border: 3px solid #C0C0C0;
}

.notes p {
  color: #C0C0C0;
  text-align: center;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
}

.spectrum {
  color: #FFFFFF;
  text-align: center;
}


/* Typography */
h1 {
  color: #C0C0C0;
  font-family: 'Righteous', cursive;
 /* @include fluid-type(font-size, 600px, 1500px, 80px, 300px); */
  font-size: 10vw;
  font-weight: bold;
  line-height: 76px;
  margin: 0;
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

h2 {
  color: #C0C0C0;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  color: #C0C0C0;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 800;
  text-align: center;

}

h4 {
  color: #C0C0C0;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: .2em;
  padding-top: 30px;
  padding-bottom:30px;
  text-align: center;

}

h5 {
  color: #C0C0C0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #C0C0C0;
  list-style: none;
  margin: 100px 0px;
}

a {
  color: #C0C0C0;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}
