---
---

@import "{{ site.theme }}";
body {
  padding: 0;
  margin: 0;
  background: #000080;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #000080 0%, #191970 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #000080 0%, #191970 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #000080 0%, #191970 100%);
}

/** Header styles **/

.header {
  height: 450px; 
  width: 100%;
  background: black url(https://images6.alphacoders.com/312/thumb-1920-312428.jpg) no-repeat;
  background-size: 100% 100%;
  /*max-width: 700px;*/
  background-position: center center;
  border: 3px solid #C0C0C0;
  overflow: hidden;
}

.notes {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #FFFFFFFFF;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
  border: 3px solid #C0C0C0;
}

.notes p {
  color: #C0C0C0;
  text-align: center;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: #FFFFFF;
  text-align: left;
}

/* Roast types */
.green {
  background-color: DarkSeaGreen;
}

.light {
  background-color: Sienna;
}

.city {
  background-color: SaddleBrown;
}

.vienna {
  background-color: Brown;
}

.italian {
  background-color: Black;
}

/* Typography */
h1 {
  color: #C0C0C0;
  font-family: 'Righteous', cursive;
  @include fluid-type(font-size, 600px, 1200px, 80px, 300px);
  font-weight: bold;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 40%;
}

h2 {
  color: #C0C0C0;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #C0C0C0;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

h4 {
  color: #C0C0C0;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: .2em;
  text-align: center;
  padding-top: 30px;
  padding-bottom:30px;
 
}

h5 {
  color: #C0C0C0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #C0C0C0;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

a {
  color: #C0C0C0;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
