---
layout: page
---
<html>

<head>
  <title class="unselectable">About</title>
  <link href="https://fonts.googleapis.com/css?family=Righteous|Raleway:100,500,600,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/about.css">

</head>

<body>
  <div class = "container">
  <div class="eight">
     <h3> The Elite Eight</h3>
     <p> I am assembling a dream team. I am the ultimate sixth man. I have yet to reach Lebron James levels of leadership and skill that an elite team needs. I hope to create a team where distinguishing the leader will be difficult because we are all approaching Sage status. This is the dream.</p>
      <br>
   </div>
       <div class="principles">
         <div class="determination">
           <h4>Determination</h4>

           <p>Quiet dog bites hard</p>
         </div>
         <div class="patience">
           <h4>Patience</h4>

           <p>Quiet dog barks far</p>
         </div>
         <div class="focus">
           <h4>Focus</h4>

           <p>Ultimate concentration</p>
         </div>
         <div class="empathy">
           <h4>Empathy</h4>

           <p>Maintaining relations</p>
         </div>
         <div class="yourself">
           <h4>Yourself</h4>

           <p>Cruziken am I</p>
         </div>
       </div>
   </div>
</body>



</html>
