---
layout: page
---
<html>
<head>
  <title class="unselectable">Calendar</title>
 <link href="https://fonts.googleapis.com/css?family=Righteous|Raleway:100,500,600,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/fullcalendar.css">
  <script src="{{"/script/jquery.min.js" | prepend: site.baseurl}}"></script>
  <script src="{{"/script/moment.min.js" | prepend: site.baseurl}}"></script>
  <script src="{{"/script/fullcalendar.js" | prepend: site.baseurl}}"></script>
  <script>
$(function() {

  // page is now ready, initialize the calendar...

  $('#calendar').fullCalendar({
    // put your options and callbacks here
  });

});
  </script>
  
  </head>
  <body>
    <img src = "../assets/img/pickachu.jpg" class = "bg">
    <div id='calendar'></div>
    
  </body>
</html>
