---
layout: page
---
<html>
<head>
  <title class="unselectable">Calendar</title>
  <link rel='stylesheet' type = "text.css" href= "{{site.baseurl}}/css/fullcalendar.css">
  <script src="{{"/script/jquery.min.js" | prepend: site.baseurl}}"></script>
  <script src="{{"/script/moment.min.js" | prepend: site.baseurl}}"></script>
  <script src="{{"/script/fullcalendar.js" | prepend: site.baseurl}}"></script>
  <script>
$(function() {

  // page is now ready, initialize the calendar...

  $('#calendar').fullCalendar({
    // put your options and callbacks here
  })

});
  </script>
  
  </head>
  <body>
    <div id='calendar'></div>
    
  </body>
</html>
