---
layout: page
---
<html>

<head>
  <title class="unselectable">The Forge</title>
  <link href="https://fonts.googleapis.com/css?family=Righteous|Raleway:100,500,600,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/forge.css">

</head>

<body>
  <div class="contain_all">
    <div class="container">
      <div class="right-side">
        <p>
          testing
        </p>
      </div>
      <div class="left-side">
        <p>
          practice
        </p>
      </div>
    </div>
  </div>

</body>



</html>
