---
layout: default
---
<html>
<head>
  <title class="unselectable">Cruziken</title>
  <link href="https://fonts.googleapis.com/css?family=Righteous|Raleway:100,500,600,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/homeit.css">
</head>
<body>

  

  {{ content }}
 
 <div class="viewport-1"><div class="inner-div">
   <h1> Cruziken <h1>
 </div></div>
<div class="viewport-2"><div class="inner-div">
</div></div>
 <div class="notes">
    <h3>The Age of the Honeybadgers</h3>
    <p> I am assembling a dream team. It should not come as a shock to anyone that I work best as the ultimate sixth man. I have not reached Lebron James levels of leadership and skill that an elite team would need in a leader. I hope to create a team where distinguishing such a person will be difficult because we are all approaching Sage status. This is the dream.</p>
     <br>
    <br>
    <br>
  
      <div class="spectrum">
        <div class="determination">
          <h4>Determination</h4>
      
          <p>The old saying when you want to succeed more than you want to breathe.</p>
        </div>
        <div class="patience">
          <h4>Patience</h4>
         
          <p>The only path to true greatness requires a willingness to wait.</p>
        </div>
        <div class="focus">
          <h4>Focus</h4>
          
          <p>This goes by many names, Sage Mode, Super Saiyan, Berserker Armour. At the end of the day ultimate performance requires ultimate focus.</p>
        </div>
        <div class="empathy">
          <h4>Empathy</h4>
          
          <p>True greatness is when you conquer your demons without becoming one. Don't be a jerk.</p>
        </div>
        <div class="yourself">
          <h4>Yourself</h4>
         
          <p>At this point, you have a pretty good idea of what type of person you are and who you are not. Realize this.</p>
        </div>
      </div>
  </div>

 
</body>
</html>
