---
layout: default
---
<html>
<head>
  <title>Cruziken</title>
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Raleway:100,500,600,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/homeit.css">
</head>
<body>

  <div class="header">
    <h1>Cruziken</h1>
  </div>

  {{ content }}
 <div class="notes">
    <h3>The Age of the Honeybadgers</h3>
    <p> I am assembling a dream time. It should not come as a shock to anyone that I work best as the ultimate sixth man. I have not reached Lebron James levels of leadership and skill and elite team would need in a leader. I hope to join where distinguishing such a person will be difficult because we are all approaching Sage status. This is the dream.</p>
     <br>
      <div class="spectrum">
        <div class="determination">
          <h4>Determination</h4>
          <h5>22&degC (72&degF)</h5>
          <p>The old saying when you want to succeed more than you want to breath.</p>
        </div>
        <div class="patience">
          <h4>Patience</h4>
          <h5>205&degC (401&degF)</h5>
          <p>The only path to true greatness requires a willingness to wait.</p>
        </div>
        <div class="focus">
          <h4>Focus</h4>
          <h5>219&degC (426&degF)</h5>
          <p>This goes by many names, Sage Mode, Super Saiyan, Berserker Armour. At the end of the day ultimate performance requires ultimate focus.</p>
        </div>
        <div class="empathy">
          <h4>Empathy</h4>
          <h5>230&degC (446&degF)</h5>
          <p>True greatness is when you conquer your demons without becoming one. Don't be a jerk.</p>
        </div>
        <div class="yourself">
          <h4>Yourself</h4>
          <h5>245&degC (473&degF)</h5>
          <p>At this point, you have a pretty good idea of what type of person you are and who you are not. Realize this.</p>
        </div>
      </div>
  </div>

 
</body>
</html>
