---
layout: page
---
<html>
<head>
  <title class="unselectable">Poetry</title>
  <link href="https://fonts.googleapis.com/css?family=Righteous|Raleway:100,500,600,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/homeit.css">

</head>
 <body>
<p>Click the button to demonstrate the prompt box.</p>

<button onclick="myPassword()">Try it</button>

<p id="demo"></p>
   
<p id = "passed">  You passed</p>
 
   <p id = "failed">You failed </p>
<script>
const password = 'lucario';
function myPassword(){
var passwordTry = prompt("Please enter your name", "Your name here");

if (passwordTry == password) {
    document.getElementById("passed");
}
else {
    document.getElementById("failed");
}
}
</script>

</body>
   
</html>
