---
layout: page
---
<html>
<head>
  <title class="unselectable">Poetry</title>
  <link href="https://fonts.googleapis.com/css?family=Righteous|Raleway:100,500,600,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/homeit.css">

</head>
 <body>
<p>Click the button to demonstrate the prompt box.</p>

<button onclick="myPassword()">Password</button>

<p id="demo"></p>
   
<p id = "passed"> </p>
 
   <p id = "failed"></p>
<script>
const password = 'lucario';
function myPassword(){
var passwordTry = prompt("Please enter your name", "Enter password");

if (passwordTry == password) {
    document.getElementById("passed").innerHTML = "You passed.";
}
else {
    document.getElementById("failed").innerHTML = "You failed.";
}
}
</script>

</body>
   
</html>
