---
layout: page
---
<html>
<head>
  <title class="unselectable">Sports</title>
  <link href="https://fonts.googleapis.com/css?family=Righteous|Raleway:100,500,600,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/sports.css">

</head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<p>Resize the browser window to see the responsive effect (the columns will stack on top of each other instead of floating next to each other, when the screen is less than 600px wide).</p>
<div class = "sidebar">
  </div>
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Espn</h2>
    <p>Links to Espn.</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Baltimore Ravens</h2>
    <p>Display news relavent to the Ravens</p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Cleveland Caveliers</h2>
    <p> This is where information regarding the Cavs will rest.</p>
  </div>
</div>
</body>



</html>
